/* FONTS */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_QpRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3g3D_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA-seUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Style Geral*/

* {
  font-size: 16px;
}

body {
  background-color: rgb(236,233,226,0.1);
  margin: 0;
}

p {
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #000;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 200;
}

h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #baa495;
}

h4 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #807166;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #807166;
  text-decoration: underline;
}

.title-section {
  color: #807166;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.container-main {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  padding: 0 3.125rem 0 3.125rem;
}

.container-separator {
  display: flex;
  flex-direction: column;

}

.container-content {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 100%;

}
.box-fifty-fifty-left {
  flex: 1;
}
.box-fifty-fifty-right {
  flex: 1;
}
.box-one-third-left {
  flex:1;
}
.box-one-third-right {
  flex: 2;
}
.box-full {
  flex:1;
  min-width: 100%;
}



/*Header & Menu*/

header {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background-color: #baa495;
  width: 100%;
  height: 4.375rem;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  padding: 0 1rem 0 1rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #ece9e1;
}

nav a:hover {
  text-decoration: none;
  font-weight: 500;
}




/* BODY */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.title-section {
  vertical-align: bottom;
  margin-top: 6.25rem;
}

/* INTRO */

#home {
  margin-top: 6.25rem;
}

#home h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  color: #807166;
  font-size: 1.6875rem;
}

#home h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 200;
  color: #807166;
  text-transform: none;
}

#home .box-fifty-fifty-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.125rem;
  min-width: 12.5rem;
}

#home .box-fifty-fifty-left {
  display: flex;
  justify-content: center;
}

#home b {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;
  color: #baa495;
  font-size: 1.6875rem;
}

#photo {

}

#home img {
  height: 18.75rem;
}



button {
  border: solid 1px #baa495;
  background: none;
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #000;
  font-weight: 300;
  padding: 0.625rem;
  margin: 0.125rem;
}

@media only screen and (max-width: 768px) {
  .container-content{
    text-align: center;
    padding: 0px;
  }

  #home .box-fifty-fifty-right {
    padding: 0;
  }
}

/* WORK & EDUCATION */

.experience h3 {
  text-transform: none;
  color: #807166;
  font-size: 1rem;
}

.experience h4 {
  color: #baa495;
  text-transform: none;
  font-size: 0.875rem;
}

.experience a {
  color: #baa495;
  font-size: 0.875rem;
}

.experience img {
  width: 90px;
}

.experience .box-one-third-left {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.625rem;
}

.experience .box-one-third-right {
  min-width: 18.75rem;
}

#icon {
  width
}

#time {
  border-left: solid 0.3125rem #c8c6c2;
  padding-left: 0.625rem;
}

.experience #download_icon {
  width: 0.9375rem;
}

#edu-logo {
  width: 8.75rem;
}

@media only screen and (max-width: 48rem) {
  #time {
    text-align: left;
  }
  .experience .container-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience .box-one-third-right {
    flex:1;
  }

  .experience .box-one-third-left {
    flex:1;
  }

}

/* SKILLS */

.skills h3 {
  color: #baa495;
}

.skills h4 {
  color: #807166;
  text-transform: None;
  margin-bottom: -0.625rem;
}

.box-one-fourth {
  flex:4;
}

/* FOOTER */

footer {
  background-color: #baa495;
  margin: 8.125rem 0 0 0;
  padding-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

footer p {
  color: #ece9e1;
}

i {
  color: #ece9e1;
}

#contacts p {
  margin-bottom: -1rem;
}

#contacts a {
  color: #ece9e1;
  font-weight: 300;
  font-family: 'Nunito', Helvetica, sans-serif;
  font-size: 0.875rem;
}

#credits {
  color: #807166;
  margin-top: 3.125;
}

#credits p {
  color: #807166;
}

#social i{
  color: #ece9e1;
  margin-right: 1rem;
  margin-top: 3.125rem;
}
